.About{
    background: var(--color-white); 
       
}
.about-container{
    display: grid;
    grid-template-columns: 52% auto;
    gap:3rem;
    z-index: 1000;
    position: relative ;
    margin-top: 80px;
    max-width: 900px !important;
    
}
.about-left p{
    margin-top: 1rem;
    color: var(--text-color);
    font-size: var( --normal-font-size) !important;
}
.about-left h3{
    font-size: 1.3rem;
}
.about-right p{
    color: var(--text-color);
    font-size: var( --normal-font-size) !important;
}
.about-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
@media (max-width:1024px){
.about-container{
    grid-template-columns: 1fr;
    gap: 2rem;
}
.about-right{
    grid-row: 1;
}
}
@media (max-width:600px){

.about-right{
    grid-row: 1;
}
}
