.footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--first-color);
    height: 100px;
    width: 100%;
    
}
.copy-icon{
    
    color:white;
    font-size: .8rem;
}
.copy-icon h4{
    color: white;
    font-size:.6rem ;
    padding-right: 3px;
}
.icon{
    padding: 10px;
    color: white;
}
